<div class="container py-4 px-5" style="background-color: rgb(31, 23, 66);">
  <div class="card">
    <div class="container ">
      <div class="row">
        <div class="col col-12 lg-12 md-9 sm-3" style="height: 5rem; background-color: rgb(72, 61, 122);">
           <div class="d-flex justify-content-center">
            <h1 class="fst-italic" style="color: white; top: 6rem; padding: 15px;"><em>My Website!</em></h1>
           </div>
        </div>
      </div>

      <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-3">
          <table class="table">
            <thead>
              
            </thead>
            <tbody>
              <tr>
                
                <td style="border-bottom:dotted 2px #000000">Home</td>
                
              </tr>
              <tr>
              
                <td style="border-bottom:dotted 2px #000000">About</td>
                
              </tr>
              <tr>
              
                <td style="border-bottom:dotted 2px #000000">Intresting Things</td>
                
              </tr>

              <tr>
              
                <td style="border-bottom:dotted 2px #000000">Boring Things</td>
                
              </tr>
              <tr>
              
                <td style="border-bottom:dotted 2px #000000">Contact</td>
                
              </tr>
            </tbody>
          </table>

          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Unde deleniti distinctio a officiis ducimus doloribus, nihil quaerat consequuntur quia, vel dolore tempore, esse saepe iure laboriosam veritatis alias itaque. Cupiditate!
        </div>

        <div class="col-9 col-sm-9 col-md-9 col-lg-9">
          <h2 class="px-5 "style="padding: 40px;">Lorem ipsum</h2>
            <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa at iste exercitationem excepturi, 
              tenetur, possimus magni quo id nihil delectus hic nesciunt, odit veritatis! Provident quibusdam eveniet
               perferendis ipsa? Corporis?Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa at iste exercitationem 
               excepturi, tenetur, possimus magni quo id nihil delectus hic nesciunt, 
               odit veritatis! Provident quibusdam eveniet perferendis ipsa? Corporis?</P>

               <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa at iste exercitationem excepturi, 
                tenetur, possimus magni quo id nihil delectus hic nesciunt, odit veritatis! Provident quibusdam eveniet
                 perferendis ipsa? Corporis?Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa at iste exercitationem 
                 excepturi, tenetur, possimus magni quo id nihil delectus hic nesciunt, 
                 odit veritatis! Provident quibusdam eveniet perferendis ipsa? Corporis?</P>
       </div>
      </div>

      <div class="row" style="background-color: rgb(117, 74, 74);">
        <div class="col col-12" >
           <div class="d-flex justify-content-center">
            <p class="px-5" style="color: rgb(255, 255, 255);  padding: 5px;">@foobar.inc</p>
           </div>
        </div>

    </div>
  </div>

</div>
