<div class="card">
  <div class="card-body">
    <h5 class="card-title">A advanced Guide to HTML & CSS</h5>

    <p style="color: #6bc46b"> A advanced Guide to HTML & CSS</p>
    <p>is a simple &
      comprehensive guide dedicated to helping
      beginners learn HTML & CSS.</p>  

    <div *ngIf="show else elseblock">

      <span style="font-size: 200%; color: #7c7674;">&#9312;</span>
      Performance & Organization 
     
    </div>
    <ng-template #elseblock>
      <span style="font-size: 200%; color: #7c7674;">&#9313;</span>
      Detailed Positioning
    </ng-template>

    <br>

   
    <br>

    <span style="font-size: 200%; color: #7c7674;">&#9314;</span>
    Box Model <abbr title="and">&amp;</abbr> Positioning<br>

    <span style="font-size: 200%; color: #7c7674;">&#9315;</span>
    The Starter League in beautiful<br>

    <span style="font-size: 200%; color: #7c7674;">&#9316;</span>
    Backgrounds <abbr title="and">&amp;</abbr> Gradients<br>

    <span style="font-size: 200%; color: #7c7674;">&#9317;</span>
    Unordered, Ordered, <abbr title="and">&amp;</abbr>
    Definition Lists<br>

    <span style="font-size: 200%; color: #7c7674;">&#9318;</span>
    Images, Audio, <abbr title="and">&amp;</abbr> Video<br>

    <span style="font-size: 200%; color: #7c7674;">&#9319;</span>
    Preprocessors<br>

    <span style="font-size: 200%; color: #7c7674;">&#9320;</span>
    jQuery<br>

    <span style="font-size: 200%; color: #7c7674;">&#9321;</span>
    Coding Practices <abbr title="and">&amp;</abbr> Additional Resources<br>

    <br>

    <button type="button mt-3" class="btn btn-light btn-md">
      <div class="d-flex justify-content-center" style="color: #6bc46b;">
        A Beginner's Guide to HTML & CSS
      </div>
    </button>



    <!--       
    <ol>

      <div *ngIf="show else elseblock">

        <li>Performance & Organization</li>
      </div>
      <ng-template #elseblock>
        <h2>bye</h2>
      </ng-template>

      
      <li>Detailed Positioning</li>
      <li>Box Model & Positioning</li>
      <li>Responsive Web Design</li>
      <li>The Starter League in beautiful</li>
      <li>Typography</li>
      <li>Preprocessors</li>
      <li>Feature Support & Polyfills</li>
      <li>jQuery</li>
      <li>Images, Audio, & Video</li>

    </ol>
    <a href="#" class="btn btn-light">Go somewhere</a>
  </div>
</div> -->