
    <!-- <p class="d-flex justify-content-center" style="color: #a5a8b4" >{{page.title}}</p> 
    <h4 class="d-flex justify-content-center" style="color: white;">{{page.subtitle}}</h4> -->

    <div class="d-flex justify-content-center">   
      <p  style="color: #a5a8b4" >{{page.title}}
        <br>
      <span style="color: white;">{{page.subtitle}}</span>
    </p> 
     </div> 

    <P style="color: #a5a8b4">{{page.content}}<P>
      <p style="color: white">A Beginner's Guide to HTML & CSS</p>

      <p style="color: #a5a8b4">COURSE 201</p>
      <p style="color: white"> An Advanced Guide to
        HTML & CSS</p>

     
         
        
 
        