<div class="container  py-4 px-5">
  <div class="card ">

    <div class="row ">
      <div class="col col-12 col-sm-12 col-md-12 col-lg-3 py-3" style="background-color: #404853;">


        <app-sidebarheader></app-sidebarheader>

        <app-sidebar></app-sidebar>

      </div>
      <div class="col col-9 col-sm-9 col-md-9 col-lg-9 py-5" style="background-color: #f4f5f7;">


        <app-header></app-header>

        <div class="row">

          <div class="col-sm-6">
            <app-innerrightsidebar></app-innerrightsidebar>
          </div>
          <div class="col-sm-6">
            <app-innerleftsidebar></app-innerleftsidebar>
          </div>
        </div>

      </div>
      <!--end header col-9 row -->
    </div>
    <!--end header col-3 row -->
  </div>
</div>