 <h5 class="card-title">A Beginner’s Guide to HTML & CSS</h5>
<p class="card-text">
  <strong style="color:rgb(22, 197, 75);">A Beginner’s Guide to HTML & CSS</strong> is
  a simple & comprehensive guide dedicated to helping beginners learn HTML & CSS.
</p>
        <span style="font-size: 200%; color: #7c7674;">&#9312;</span>
                        Terminology, Syntax, &
                            Introduction

                      <br>

                      <span style="font-size: 200%; color: #7c7674;">&#9313;</span>
                      Elements & Semantics
                     <br>

                     <span style="font-size: 200%; color: #7c7674;">&#9314;</span>
                     Box Model & Positioning<br>

                     <span style="font-size: 200%; color: #7c7674;">&#9315;</span>
                     Typography<br>

                     <span style="font-size: 200%; color: #7c7674;">&#9316;</span>
                     Backgrounds & Gradients<br>

                     <span style="font-size: 200%; color: #7c7674;">&#9317;</span>
                     Unordered, Ordered, &
                        Definition Lists<br>

                        <span style="font-size: 200%; color: #7c7674;">&#9318;</span>
                        Images, Audio, & Video<br>

                        <span style="font-size: 200%; color: #7c7674;">&#9319;</span>
                        Building Forms<br>

                        <span style="font-size: 200%; color: #7c7674;">&#9320;</span>
                        Organizing Data with Tables<br>

                        <span style="font-size: 200%; color: #7c7674;">&#9321;</span>
                        Coding Practices & Additional Resources<br>

                        <div class="col-md-12 text-center">
                          <button type="button mt-3" class="btn btn-outline-success btn-md">
                            <div class="d-flex justify-content-center">
                              A Beginner's Guide to HTML & CSS
                            </div>
                          </button>
