
<h6 class="px-3" id="practicle">{{pagets.title}}</h6>
<p class="h4 px-3" id="subtitlecol">{{pagets.subtitle}}</p>
<p class="px-3" id="contentpage">{{pagets.content}}</p>
<p class="px-3" id="subcontentpage">{{pagets.subcontent}}</p>
<p class="px-3" id="partpage">{{pagets.part}}</p>
<p class="px-3" id="subpartpage">{{pagets.subpart}}</p>





    <!--<div *ngFor="let data of myItems;let i= index" class="alert alert-info" style="width: 50%;">    
      {{data.Value}}    
      <a href="#" style="float: right;">    
        <span class="glyphicon glyphicon-remove"></span>    
      </a>    
      <a href="#" style="float: right;padding-right: 8px;">    
        <span class="glyphicon glyphicon-pencil"></span>    
      </a>    
    </div>    
    <div *ngIf="myItems.length == 0" class="alert alert-info" style="width: 50%;">    
      Items Are Empty !!!    
    </div>    -->
