#practicle{
    color: #7c7c84;
}

#subtitlecol{
    color: white;
    font-weight: bold;
}

#contentpage{
    color: #7c7c84;
}

#subcontentpage{
    color: white;
    font-family: monospace;
}

#partpage{
    color: #7c7c84;
}

#subpartpage{
    color: white;
    font-family: monospace;
   
}