#seccontent{
    color: #68d814;
    font-family: serif;
}

#sentencesection{
    font-family: serif;
}
#titlesection{
    font-family: serif;
    font-weight: bold;
}

#listsection{
    font-family: serif;
}

#btn{

    color: #68d814;
    border:1px;
}

ol {margin-left:0; padding-left:0; counter-reset:item}
ol>li {margin-left:0; padding-left:0; counter-increment:item; list-style:none inside;margin-bottom:10px}
ol>li:before {
content: counter(item) ;
padding:3px 5px;
margin-right:0.5em;
background:#ccc;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px; 
}