<div class="d-flex justify-content-center">
A Practical Guid to<br></div>
<div class="font-weight-bold">
  <div class="d-flex justify-content-center">
  <strong style="color:rgb(240, 235, 235)">HTML & CSS</strong>
</div><br>
</div>
<p>
COURSE 101<br>
<strong style="color:rgb(240, 235, 235)">A Beginner's Guid to<br>
HTML & CSS</strong>
</p><br>

<p m-5>

        COURSE 201<br>
        <strong style="color:rgb(240, 235, 235)">  A Advanced Guid to<br>
        HTML & CSS</strong><br><br>
        </p>

        <p style="font-style: italic;">
          A Practical Guid to HTML & CSS<br>
          is led by designer & front end<br>
          developer  <strong style="color:rgb(240, 235, 235)">Shay Howe</strong><br>
        </p>

       <p style="font-style: italic;">
        Additional help has been<br>
        generously provided from a few<br>
        <strong style="color:rgb(240, 235, 235)">amazing friends</strong><br>
      </p>

       <p style="font-style: italic;">
        Taught in person as part of<br>
        <strong style="color:rgb(240, 235, 235)">The starter League</strong> in beautiful<br>
        downtown Chicago, Illinois.<br>
       </p>

        <p>
          <a class="btn btn-light" style="background-color: #e9eff5;"
          style="color:rgb(17, 15, 15)" href="#!" role="button">
          <img src="/assets/twitter.png" class="img-fluid"  alt=" "  width= 20px;
          height= 20px;> <strong> Follow @shayhowe</strong>
          </a>
        </p>

