<div class="card">
  <div class="card-body">
    <h5 class="card-title">A Beginner's Guide to HTML & CSS </h5>
    <p style="color: #6bc46b"> A Beginner's Guide to HTML & CSS</p>
    <p> is a simple &
      comprehensive guide dedicated to helping
      beginners learn HTML & CSS.</p>

      <ng-template [ngIf]="show=='one'"> 
        <span style="font-size: 200%; color: #7c7674;">&#9312;</span>
        Terminology, Syntax, <abbr title="and">&amp;</abbr>
        Introduction
    
      </ng-template>

      <ng-template [ngIf]="show=='two'"> 
        
    <span style="font-size: 200%; color: #7c7674;">&#9313;</span>
    Elements <abbr title="and">&amp;</abbr> Semantics

      </ng-template>

      <ng-template [ngIf]="show=='three'"> 
        <span style="font-size: 200%; color: #7c7674;">&#9314;</span>
    amazing friends <abbr title="and">&amp;</abbr> Positioning<br>

      </ng-template>

    
    <br>
  
    <span style="font-size: 200%; color: #7c7674;">&#9315; </span>
    <span *ngFor="let item of collect">{{item.fourth}} </span> 

    <br>

    <span style="font-size: 200%; color: #7c7674;">&#9316;</span>
    <span *ngFor="let item of collect">{{item.fifth}} </span> 

     <br>

    <span style="font-size: 200%; color: #7c7674;">&#9317;</span>
    <span *ngFor="let item of collect">{{item.sixth}} </span> 

     <br>

    <span style="font-size: 200%; color: #7c7674;">&#9318;</span>
    <span *ngFor="let item of collect">{{item.seventh}} </span> 

    
    <br>
    <span style="font-size: 200%; color: #7c7674;">&#9319;</span>
    Unordered, Ordered, <abbr title="and">&amp;</abbr> Definition Lists<br>

    <br>

    <span style="font-size: 200%; color: #7c7674;">&#9320;</span>
    downtown Chicago, Illinois.<br>

    <span style="font-size: 200%; color: #7c7674;">&#9321;</span>
    Backgrounds <abbr title="and">&amp;</abbr> Gradients<br>
    <br>

    <button type="button mt-3" class="btn btn-light btn-md">
      <div class="d-flex justify-content-center" style="color: #6bc46b;">
        A Beginner's Guide to HTML & CSS
      </div>
    </button>

    

  </div>
  