<div class="container py-5 px-5 bg-secondary">
  <div class="card">
    <div class="rounded-top">
    <div class="container" >
    <div class="row">
      <div class="col col-12 py-3" style="height:100px; background-color:#1f3151 ;">
    <p class="h1 text-center" style="color: white; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">
      My Website</p>
    </div>
      </div>
    </div>

    <div class="row">
      <div class="col col-3">
        <div class="table">
          <tbody>
            <tr>
              <td style="border-bottom:dotted 1px">Home   </td>
            </tr>
            <tr>
              <td style="border-bottom:dotted 1px">About   </td>
            </tr>
            <tr>
              <td style="border-bottom:dotted 1px">Interesting Things  </td>
            </tr>
            <tr>
              <td style="border-bottom:dotted 1px">Boring Things   </td>
            </tr>
            <tr>
              <td style="border-bottom:dotted 1px">Contact   </td>
            </tr>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex voluptatibus rem, eos ratione dolorum sapiente fugit reiciendis dolor sunt praesentium distinctio doloribus facere cupiditate debitis, repellendus omnis ipsum. Voluptates, explicabo.
            </tbody>
        </div>
      </div>

      <div class="col col-9">
        <p class="h3 py-3">Lorem Ipsum</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
          Dolores aliquid error obcaecati ipsa alias illo voluptatem quas, explicabo doloremque,
           corporis officia! Ad temporibus eligendi pariatur earum! Inventore laboriosam at obcaecati!</p>
           
           <p>The purpose of lorem ipsum is to create a natural looking block of text (sentence, paragraph, page, 
             etc.) that doesn't distract from the layout. A practice not without controversy, laying out pages with meaningless filler text can be very useful when the focus is meant to be on design, not content.</p>

      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col col-12 py-2" style="background-color:#543c2c; color: white;">
    <div class="jumbotron text-center" style="margin-bottom:0;">
      <p>@Foobar Inc</p>
      </div>
    </div>
    </div>
    </div>
  </div>
</div>
</div>