<div class="container ">
    <div class="card">
        <div class="container">
            <div class="row">
                <div class="col col-12">
                    <div class="d-flex justify-content-center"><h1 class="py-5">My Website</h1></div>
                    
                </div>
            </div>
            <div class="row">
                 <div class="col col-12 col-sm-12 col-md-12 col-lg-3 bg-primary">
                    Laboris ea tempor amet tempor ipsum. Nostrud dolore cillum cillum occaecat magna aliqua eiusmod ea enim adipisicing reprehenderit ad cupidatat culpa. Cillum velit veniam ad dolore. Ipsum quis reprehenderit velit pariatur irure excepteur. Nulla veniam eu aute ad ea anim dolore incididunt.

Labore qui commodo elit pariatur anim ut culpa ea ad Lorem. Et ex ipsum non non non et Lorem ullamco excepteur aliquip sint ipsum. Do culpa dolore sit ea est. Commodo officia et ut aute laborum excepteur nostrud sint adipisicing. Consequat commodo laborum proident tempor pariatur laborum labore cupidatat cillum aliqua id labore eu. Quis deserunt velit proident laborum anim officia sit laboris ut proident.

Mollit minim amet excepteur qui nulla non incididunt et pariatur incididunt. In incididunt exercitation sunt nostrud deserunt cillum aliqua. Nostrud ullamco nostrud tempor reprehenderit quis minim incididunt laborum.

Dolor proident eu cillum est nulla occaecat mollit Lorem do nulla. Culpa enim elit eiusmod eu id pariatur non est labore pariatur velit ut. Deserunt sunt in qui aliquip voluptate. Sit labore nulla ea occaecat. Veniam ipsum tempor sint nulla velit ea voluptate quis cupidatat. Eiusmod ipsum aute exercitation occaecat fugiat consequat. Fugiat excepteur commodo ea reprehenderit culpa nisi anim tempor.

Eu incididunt ipsum consectetur aliqua voluptate exercitation. Deserunt consectetur et sunt anim ex culpa mollit ea consectetur eiusmod qui. Lorem aliqua quis minim nisi exercitation veniam non enim do laborum aute. Amet dolore proident velit est veniam elit.
                 </div>
                 <div class="col  col-12 col-sm-12 col-md-12 col-lg-9 bg-info">
                    Dear Bhupesh Patil,

                    Designation: React Native Developer - Hasura
                    Location- Remote working
                    Role- Permanent
                    Remote Operations, React Native Developer Required with US/UK Based company.
                    Industry: IT/Software Services
                    Working Days and Timings: 5 days as per task.
                    React Native developer interested in building performance mobile apps on both the iOS and Android platforms. You will be responsible for architecting and building these applications, as well as coordinating with the teams responsible for other layers of the product infrastructure. Building a product is a highly collaborative effort, and as such, a strong team player with a commitment to perfection is required.
                    Requirements
                   
                    
                    Designation: React Native Developer - Hasura
                    Location- Remote working
                    Role- Permanent
                    Remote Operations, React Native Developer Required with US/UK Based company.
                    Industry: IT/Software Services
                    Working Days and Timings: 5 days as per task.
                    React Native developer interested in building performance mobile apps on both the iOS and Android platforms. You will be responsible for architecting and building these applications, as well as coordinating with the teams responsible for other layers of the product infrastructure. Building a product is a highly collaborative effort, and as such, a strong team player with a commitment to perfection is required.
                    Requirements

                    Designation: React Native Developer - Hasura
                    Location- Remote working
                    Role- Permanent
                    Remote Operations, React Native Developer Required with US/UK Based company.
                    Industry: IT/Software Services
                    Working Days and Timings: 5 days as per task.
                    React Native developer interested in building performance mobile apps on both the iOS and Android platforms. You will be responsible for architecting and building these applications, as well as coordinating with the teams responsible for other layers of the product infrastructure. Building a product is a highly collaborative effort, and as such, a strong team player with a commitment to perfection is required.
                    Requirements

                    Designation: React Native Developer - Hasura
                    Location- Remote working
                    Role- Permanent
                    Remote Operations, React Native Developer Required with US/UK Based company.
                    Industry: IT/Software Services
                    Working Days and Timings: 5 days as per task.
                    React Native developer interested in building performance mobile apps on both the iOS and Android platforms. You will be responsible for architecting and building these applications, as well as coordinating with the teams responsible for other layers of the product infrastructure. Building a product is a highly collaborative effort, and as such, a strong team player with a commitment to perfection is required.
                    Requirements

                    Designation: React Native Developer - Hasura
                    Location- Remote working
                    Role- Permanent
                    Remote Operations, React Native Developer Required with US/UK Based company.
                    Industry: IT/Software Services
                    Working Days and Timings: 5 days as per task.
                    React Native developer interested in building performance mobile apps on both the iOS and Android platforms. You will be responsible for architecting and building these applications, as well as coordinating with the teams responsible for other layers of the product infrastructure. Building a product is a highly collaborative effort, and as such, a strong team player with a commitment to perfection is required.
                    Requirements

                    Designation: React Native Developer - Hasura
                    Location- Remote working
                    Role- Permanent
                    Remote Operations, React Native Developer Required with US/UK Based company.
                    Industry: IT/Software Services
                    Working Days and Timings: 5 days as per task.
                    React Native developer interested in building performance mobile apps on both the iOS and Android platforms. You will be responsible for architecting and building these applications, as well as coordinating with the teams responsible for other layers of the product infrastructure. Building a product is a highly collaborative effort, and as such, a strong team player with a commitment to perfection is required.
                    Requirements

                    Designation: React Native Developer - Hasura
                    Location- Remote working
                    Role- Permanent
                    Remote Operations, React Native Developer Required with US/UK Based company.
                    Industry: IT/Software Services
                    Working Days and Timings: 5 days as per task.
                    React Native developer interested in building performance mobile apps on both the iOS and Android platforms. You will be responsible for architecting and building these applications, as well as coordinating with the teams responsible for other layers of the product infrastructure. Building a product is a highly collaborative effort, and as such, a strong team player with a commitment to perfection is required.
                    Requirements

                    Aliquip culpa adipisicing non aliqua dolor nostrud elit sint laboris. Lorem anim commodo laboris eiusmod ad aute in ea minim proident velit velit. Sit dolor nostrud sunt minim tempor sit et quis. Minim reprehenderit elit ipsum quis ad tempor dolore incididunt excepteur consectetur id voluptate. Tempor ex exercitation cupidatat esse deserunt sunt exercitation quis aliqua consectetur eu occaecat.

Quis exercitation occaecat qui veniam minim ex culpa in nulla sit veniam enim excepteur. Aliquip officia culpa tempor occaecat adipisicing sit dolor ullamco incididunt esse elit magna. Voluptate laboris officia ex id mollit voluptate in. In anim Lorem nulla adipisicing cillum.

Ad Lorem culpa laborum pariatur exercitation nisi Lorem anim irure. Velit consectetur dolor ut laborum ad et proident laboris sint excepteur consequat veniam duis. Duis mollit fugiat mollit sunt et labore velit cillum sit tempor occaecat minim adipisicing do. Cupidatat nisi laboris nostrud mollit cillum fugiat pariatur nostrud in in sint laborum.

Pariatur eiusmod quis dolor sit excepteur aliquip duis est quis Lorem officia qui enim. Nisi consequat et veniam sunt reprehenderit. Ea veniam quis esse laboris.

Nulla quis consectetur dolore reprehenderit pariatur exercitation ipsum veniam. Labore ipsum elit voluptate aliquip consequat ea exercitation Lorem consequat occaecat. Mollit sint exercitation nulla ullamco elit quis. Velit amet cillum est sint aliquip voluptate nostrud dolor pariatur officia anim id aliquip amet. Fugiat esse ullamco sit laborum aliqua ea ut enim mollit. Laborum et ipsum nostrud ex.

Incididunt velit sit tempor cillum qui cupidatat et tempor sunt duis. Cupidatat elit occaecat consequat aute qui incididunt sit ad nisi do. Irure cupidatat ex nostrud dolore dolore cupidatat irure voluptate ad. Sunt minim qui occaecat laborum et. Quis qui ad ipsum ad eiusmod eu commodo consectetur Lorem do ullamco commodo. Culpa Lorem minim cupidatat aute nostrud nostrud occaecat.

Veniam sit occaecat esse ea proident et eu amet nulla. Ad consequat est in incididunt ullamco consectetur ullamco reprehenderit ea tempor. Excepteur consectetur occaecat Lorem et nostrud quis fugiat ut laborum commodo consectetur eu Lorem. Cupidatat amet magna nostrud labore consectetur aliqua ut veniam enim nostrud. Consectetur ullamco ipsum commodo voluptate proident sint esse voluptate aliquip eu eu.

Aute duis mollit esse est voluptate ullamco do amet quis sit minim enim. Consectetur culpa sit culpa do non adipisicing voluptate officia laboris consequat fugiat Lorem magna aliqua. Excepteur elit consectetur irure officia mollit aute minim.

Ea cillum ut dolore et elit laborum. Ullamco ea do enim esse consectetur velit officia ad ut id. Quis mollit adipisicing veniam in ullamco tempor velit ea consectetur dolor. Consectetur sunt eu sit occaecat pariatur. Fugiat sunt nostrud voluptate do nostrud qui consequat quis pariatur et sit ipsum non. Exercitation Lorem Lorem sit exercitation tempor excepteur cupidatat nisi aliquip sunt.

Elit eiusmod ad consequat duis id enim. Nisi consequat sint nisi Lorem sint aliqua tempor. Eiusmod nisi fugiat elit et dolor est officia fugiat ex proident veniam nisi fugiat. Anim ex consectetur velit sint sit fugiat amet irure mollit laborum. Elit eiusmod nulla non quis dolor.
                    
    
                 </div>
            </div>
        </div>
        
    </div>
   
</div>